.player1{
	border:solid blue 2px;
	background-color :aqua;
}
.player2{
	border:solid purple solid 2px;
	background-color: blue;
}
.btn1{
	height:80px;
    width:80px;
}
body{
	background-image: url("dark-paths.png");: 
}
h1,h2{
	text-align: center;
	color :#ffff11;
}
